body{
  background:#333;
  color: white;
}
input{
  font-size: 16px;
  color: white;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  margin: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  max-width: 700px;
  margin:68px auto 0;
  display: flex;
  flex-direction: column;
}
/* punishmentlist */
.look_wrapper{
  box-shadow: -2px -2px 8px rgba(255, 0, 112, .7),
              -2px -2px 12px rgba(55, 55, 55, 0.5),
              inset 2px 2px 4px rgba(55, 55, 55, 0.1),
              2px 2px 8px rgba(0, 112, 255, 0.7);
  border-radius: 10px;
  height: 600px;
  width: 90%;
  max-width: 650px;
  overflow-y: scroll;
  margin:0px auto 30px;
}
.punish_title{
  text-align: center;
  padding-top:10px;
}
.punishment{
  padding-bottom: 20px;
  margin: 30px;
}
/* ****************** */
/* input Area */
.input_wrapper{
  text-align: center;
}
#input_panish{
  display: block;
  border: 2px solid rgba(255, 0, 112, .7);
  border-radius: 3px;
  width: 250px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 18px;
}
.punish_btn{
  border:2px solid rgba(255, 0, 112, .7);
  border-radius: 3px;
  width: 125px;
  height: 40px;
}
/* ********************** */
/* hide and 決定ボタン */
.hide_wrapper{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.decision_btn,.new_btn{
  text-align: center;
  margin:30px auto;
  border:3px solid red;
  width:300px;
  height: 50px;
  line-height: 50px;
  font-size: 27px;
  border-radius: 10px;
}
.punish_word{
  font-size: 32px;
  text-align: center;
}
